<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>input要素</title>
</head>
<body>
    <form action="/test" method="get">
        年月<input type="month" name="month" id="month"><br>
        <input type="submit" value="送信">
    </form>
    <form action="/test" method="get">
        数字のみ<input type="number" name="number" id="number"><br>
        <input type="submit" value="送信">
    </form>

</body>
</html>

